@model TeacherCrud.Models.Teacher

@{
    ViewBag.Title = "Update";
}

<div id="containershow">

    <nav>
        <a class="navlink button" href="/Teacher/Show/@Model.teacherid">Back</a>
    </nav>

    <h2>Update Teacher</h2>
    <br />
    <form method="POST" action="/Teacher/Update/@Model.teacherid">
        <div class="inputrow">
            <label for="teacherfname">First Name:</label>
            <input type="text" id="teacherfname" name="teacherfname" value="@Model.teacherfname" />

        </div>
        <div class="inputrow">
            <label for="teacherlname">Last Name:</label>
            <input type="text" id="teacherlname" name="teacherlname" value="@Model.teacherlname"/>

        </div>

        <div class="inputrow">
            <label for="employeenumber">Employee Number:</label>
            <input type="text" id="employeenumber" name="employeenumber" value="@Model.employeenumber" />
        </div>

        <div class="inputrow">
            <label for="hiredate">Hire Date:</label>
            <input type="text" id="hiredate" name="hiredate" value="@Model.hiredate" />
        </div>

        <div class="inputrow">
            <label for="salary">Salary:</label>
            <input type="number" id="salary" name="salary" value="@Model.salary" />
        </div>

        <div class="inputrow">
            <input type="submit" value="Update Teacher" />
        </div>
    </form>
    <p id="confirmsubmit"></p>
</div>
